*{
    background-color: black;
    text-align: center;
    color: white
}
img{
    border: 5px white solid;
}

h1{
  font-family: "Libre Baskerville", serif;
  font-weight: 400;
  font-style: normal;
  text-transform: uppercase;
}